<%= session[:user_id] %>
<form class="new_image" id="new_image" action="/images" method="post">
    <label for="title">Title</label>
    <input type="text" name="image[title]" id="image_title">
    <br>
    <br>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <br>
    <input type="submit" name="commit" value="upload image" data-disable-with="upload image">
</form>
